<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ch.pxg.cloud.chpxgcloudcommon.mapper.QrtzCalendarsMapper">
  <resultMap id="BaseResultMap" type="ch.pxg.cloud.chpxgcloudcommon.model.taskcenter.QrtzCalendars">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SCHED_NAME" jdbcType="VARCHAR" property="schedName" />
    <result column="CALENDAR_NAME" jdbcType="VARCHAR" property="calendarName" />
    <result column="CALENDAR" jdbcType="VARCHAR" property="calendar" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SCHED_NAME, CALENDAR_NAME, CALENDAR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from QRTZ_CALENDARS
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from QRTZ_CALENDARS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="ch.pxg.cloud.chpxgcloudcommon.model.taskcenter.QrtzCalendars" useGeneratedKeys="true">
    insert into QRTZ_CALENDARS (SCHED_NAME, CALENDAR_NAME, CALENDAR
      )
    values (#{schedName,jdbcType=VARCHAR}, #{calendarName,jdbcType=VARCHAR}, #{calendar,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="ch.pxg.cloud.chpxgcloudcommon.model.taskcenter.QrtzCalendars" useGeneratedKeys="true">
    insert into QRTZ_CALENDARS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schedName != null">
        SCHED_NAME,
      </if>
      <if test="calendarName != null">
        CALENDAR_NAME,
      </if>
      <if test="calendar != null">
        CALENDAR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schedName != null">
        #{schedName,jdbcType=VARCHAR},
      </if>
      <if test="calendarName != null">
        #{calendarName,jdbcType=VARCHAR},
      </if>
      <if test="calendar != null">
        #{calendar,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ch.pxg.cloud.chpxgcloudcommon.model.taskcenter.QrtzCalendars">
    update QRTZ_CALENDARS
    <set>
      <if test="schedName != null">
        SCHED_NAME = #{schedName,jdbcType=VARCHAR},
      </if>
      <if test="calendarName != null">
        CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR},
      </if>
      <if test="calendar != null">
        CALENDAR = #{calendar,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ch.pxg.cloud.chpxgcloudcommon.model.taskcenter.QrtzCalendars">
    update QRTZ_CALENDARS
    set SCHED_NAME = #{schedName,jdbcType=VARCHAR},
      CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR},
      CALENDAR = #{calendar,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>